<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav> 
        <% if (user) { %>
            <a href="/">HOME</a> &nbsp;|&nbsp;&nbsp;
            <a href="/concerts" <%- title === 'All Concerts' ? 'class="active"' : '' %>>ALL CONCERTS</a> &nbsp;|&nbsp;&nbsp;
            <a href="/concerts/new" <%- title === 'Add Concert' ? 'class="active"' : '' %>>ADD CONCERT</a> &nbsp;|&nbsp;&nbsp;
            <a href="/venues" <%- title === 'All Venues' ? 'class="active"' : '' %>>ALL VENUES</a> &nbsp;|&nbsp;&nbsp;
            <a href="/venues/new" <%- title === 'Add Venue' ? 'class="active"' : '' %>>ADD VENUE</a> &nbsp;|&nbsp;&nbsp;
            <a href="/logout"class="logout">LOG OUT</a>
        <% } else { %>
           <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>

      <h1><%= title %></h1>