<%- include('../partials/header') %>

<section id="show-page">
    <div>Venue Name: </div>
    <div><%= venue.name %></div>
    <div>Location: </div>
    <div><%= venue.location %></div>
    <div>Date Visited: </div>
    <div><%= venue.date %></div>
    <div>Indoor/Outdoor: </div>
    <div><%= venue.indoorOutdoor %></div>
</section>


<%- include('../partials/footer') %>

