<%- include('../partials/header') %>

<h2>Concert List</h2>
<table>
  <thead>
    <tr>
      <th>Band/Artist:</th>
      <th>Venue:</th>
      <th>Date Attended:</th>
      <th>Setlist:</th>
    </tr>
  </thead>
  <tbody>

    <% function formatCustomDate(date) {
        if (!date) return 'N/A';

        const options = { 
          year: 'numeric', 
          month: 'long', 
          day: 'numeric' 
        };  
        return date.toLocaleDateString(undefined, options);
      } %>
      
    <% concerts.forEach(function(c) { %>
      <tr>
        <td><%= c.artist %></td>
        <td><%= c.venue %></td>
        <td><%= formatCustomDate(c.date) %></td>
        <td><%= c.setlist %></td>
        <td><a class="details-link" href="/concerts/<%= c._id %>">DETAILS</a>
          <form action="/concerts/<%= c._id %>?_method=DELETE" method="POST">
            <button class="submitbtn" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../partials/footer') %>
